<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rangeen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19B36B672058D03B00AC95C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B36B782058D03C00AC95C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B36B832058D03C00AC95C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
